{
"root": true,
  "extends": [
  "eslint:recommended",
  "plugin:@typescript-eslint/recommended"
],

"globals": {
  "L": true,
  "noUiSlider":true,
  "_.": true,
},
  "plugins": ["lodash"],



"parserOptions":{
  "ecmaVersion": 2018,
  "sourceType": "module",
},
"env":{
  "browser": true,
  "es2017": true,
},
}
